doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title linpatisserie faq
        link(rel='icon' href='public/images/favicon.ico' type='image/x-icon')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
        link(rel="stylesheet", href="public/js/WOW-master/css/libs/animate.css")
        link(rel='stylesheet', href='public/css/stylelin.css')
        style.
            body {
            background-image: url(../public/images/bagimg.png);
            background-repeat: repeat;
            font-family: Arial, Helvetica, sans-serif;
            }    
    body
        header                               
            .container.position-r  
                .logo
                    a(href='index.html')   
                        img(src='public/images/linpatisserie_logo.svg', alt='linpatisserie_logo')
                .icon-menu
                    ul.row
                        li   
                            a#phoneicom-search-swith(href='#') 
                                img(src='public/images/icon_search.svg', alt='icon_search')
                                ul.sub-search#phoneicom-search
                                li.serch-overlay
                                        //- input(type='text')
                                        //- input(type='button', value='')
                                        //- //- 按鈕和overlay
                        li.position-r     
                            a#phoneicom-member-swith(href='javascript:;') 
                                img(src='public/images/icon_member.svg', alt='icon_member')
                                ul.submember#phoneicom-member
                                    li
                                        a(href='login_register.html') 登入/註冊
                                    li
                                        a(href='#') 會員中心
                                    li
                                        a(href='#') 訂單查詢
                                    li
                                        a(href='#') 收藏清單 
                        li    
                            a.icon_shoppingcar(href='#') 
                                img(src='public/images/icon_shoppingcar.svg', alt='icon_shoppingcar')
                        li
                            a#btn-nav-toggle(href='javascript:;')

                                img(src='public/images/icon-menu.svg', alt='') 

                nav#primary-navigation 
                    .nav-main
                        ul  
                            li 
                                a(href='news.html') NEWS
                            li
                                a(href='about.html') ABOUT 
                            li#product-nav-swith
                                a.position-r(href='product.html') PRODUCT
                                //- ul#product-nav-snb.submenu
                                //-     li
                                //-         a(href='product_list.html#all') 全部產品
                                //-     li
                                //-         a(href='product_list.html#hot') 熱門產品
                                //-     li
                                //-         a(href='product_list.html#new') 最新產品
                                //-     li
                                //-         a(href='product_list.html#limited') 季節限定  
                            li 
                                a(href='store.html') STORE 
                            li 
                                a(href='faq.html') FAQ                 
                    .icon-right
                        ul.row.dpn
                            li
                                a.icom-facebook(href='#') 
                                    img(src='public/images/icon_facebook.svg', alt='icon_facebook')
                            li   
                                a.icom-search(href='#') 
                                    img(src='public/images/icon_search.svg', alt='icon_search')
                                ul.sub-search
                                li.serch-overlay
                                        //- input(type='text')
                                        //- input(type='button', value='')
                                        //- //- 按鈕和overlay
                            li.position-r#icom-member-swith    
                                a(href='javascript:;')
                                    img(src='public/images/icon_member.svg', alt='icon_member')
                                ul#member-list.submember
                                    li
                                        a(href='login_register.html') 登入/註冊
                                    li
                                        a(href='#') 會員中心
                                    li
                                        a(href='#') 訂單查詢
                                    li
                                        a(href='#') 收藏清單 
                            li    
                                a.icon_shoppingcar(href='#') 
                                    img(src='public/images/icon_shoppingcar.svg', alt='icon_shoppingcar')
        .container
            ul.breadcrumbs.header-space.page-top-set
                li
                    a(href="index.html") 首頁
                li &nbsp;&#10095;&nbsp;
                li FAQ     
            .page-title-wrap FAQ  
            .new-page-wrap


        footer 
            .container
                .logo-center 
                    a(href='index.html')
                        img(src='public/images/linpatisserie_logo.svg', alt='linpatisserie_logo') 
                hr   
                .community.row
                    a(href='#')
                        img(src='public/images/icon_instagram.svg', alt='icon_instagram')
                    a(href='#')
                        img(src='public/images/icon_facebook.svg', alt='icon_instagram') 
                .page-list.row.text-center
                    dl.col-12.col-md-3.dpn
                        dt
                        dd
                            a(href='news.html') 最新消息
                        dd
                            a(href='about.html') 關於我們              
                        dd
                            a(href='store.html') 店鋪資訊
                        dd
                            a(href='faq.html') 常見問題
                    dl.col-12.col-md-3.dpn
                        dt 
                        dd
                            a(href='product.html') 全部產品
                        dd
                            a(href='product.html') 熱門產品
                        dd
                            a(href='product.html') 最新產品 
                        dd
                            a(href='product.html') 季節限定   
                    dl.col-12.col-md-3
                        dt 
                        dd
                            p 客服專線: 0800-888-888                 
                        dd
                            p 客服時段: 週一至週五 09:00-18:00         
                        dd
                            p 地址: 台中市南屯區公益路00號  
                        dd
                            p E-MAIL: Linpatisserie@gmail.com
                    dl.col-12.col-md-3.dpn
                        dt 
                        dd
                            a(href='#') 會員中心
                        dd
                            a(href='#') 訂單查詢
                        dd
                            a(href='#') 購物車
                        dd
                            a(href='#') 收藏清單
                    dl.col-12.col-md-3.dpn
                        dt 
                        dd
                            a(href='#') 服務條款 
                        dd
                            a(href='#') 聯絡我們
                        dd
                            a(href='#') 隱私權聲明
                p.copyright.text-center Copyright © 2022 Lin Patisserie. All Rights Reserved
        a.page-top.top(href="javascript:;")
            img(src="public/images/to-top.png", alt="page-top") 
    script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
    script(src='public/js/WOW-master/dist/wow.js')
    script(src='public/js/linpatisserie-script.js')